/* ========================== Component Name ========================== */
$component: ".testimonials-16";

/* ========================== Order: ========================== */

/*
 * Base
 * Modifiers
 * Breakpoints
 * Component Options
 * Themes
 */

/* ========================== Component Base: ========================== */

#{$component} {
  @apply relative w-full my-8 mx-auto;

  &__wrap {
    @apply grid relative w-full mx-auto py-24 px-12 max-w-screen-xl text-wire-dark;
    grid-auto-rows: minmax(min-content, max-content);
    grid-gap: 2rem;
  }

  &__item {
    @apply relative p-6 border border-wire-light;
    margin-top: 4rem;
    padding-top: 3.5rem;
    border-radius: 1rem;

    &:nth-child(1) {
      margin-top: 0;
    }
  }

  &__image {
    position: absolute;
    left: 78%;
    top: 0;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-position: center;
    object-fit: cover;
  }

  &__company {
    margin-top: 1rem;
  }

  &__quote {
    margin-top: 1.5rem;
  }

  /* ========================== Modifiers ========================== */

  /* ========================== Breakpoints ========================== */

  @screen sm {

  }

  @screen md  {
    &__wrap {
      grid-template-rows: repeat(1, 1fr);
    }

    &__item {
      margin-top: 0;
    }

    &__num-col--2 {
      grid-template-columns: repeat(2, 1fr);
    }

    &__num-col--3 {
      grid-template-columns: repeat(3, 1fr);
    }

    &__num-col--4 {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @screen lg  {

  }

  @screen xl  {

  }

  @screen xxl  {

  }

  /* ========================== Component: Options ========================== */

  /* ========================== Themes ========================== */
}

/* ========================== INSTANCE OVERRIDES ========================== */

#{$component}.someClass {
  // some style here
  #{$component}__wrap {
    // some style there
  }
}
